
h1, h2 {
    color: green;
  }
  
  p {
    color: rgb(61, 40, 61);
  }
  
  ul {
    border: 2px dotted coral;
  }
  
  ol {
    border: 2px solid goldenrod;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 4px;
  }
  
  h1, strong {
    color: darkslategrey;
  }
  
  em {
    color: blue;
  }
  
