@charset "UTF-8";

/* form.css */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


fieldset {
    background-color: #d9d9d9;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding-top: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="radio"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input.reqfield {
    background: #FF9;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8aa6af;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#multchoice {
    margin-top: 20px;
}

.submit-button {
    text-align: right;
}

/* end of form.css */
